<footer>
			<div class="footer text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
		 					<div class="footer-content">
								<h3>Socials</h3>
								<ul class="text-center list-inline">
									<li><a href="http://youtube.com/" title="YouTube Channel" target="_blank">YouTube</a></li>
									<!--<li><a href="#" title="#" target="_blank"><span class="text-pink">#</span></a>-->
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<div class="footer-content">
								<h3>#</h3>
									<p>We recommend <a href="#" title="#" target="_blank">##</a> ##.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="footer-content">
								<h3>Chat</h3>
								<p>
									<a href="#" title="#"><i class="fa fa-comments-o"></i> ##</a> &middot;
									<a href="##" title=" on Discord" target="_blank"><i class="fa fa-discord"></i> ###</a><br>
									<strong>#:</strong> <span class="text-green">#</span> <span class="text-blue">####</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="subfooter text-center">
				<div class="container">
					<div class="subfooter-inner">
						<div class="row">
							<div class="col-md-12">
								<span class="">Copyright &copy; 2020 &middot; #</span>
									<ul class="list-inline">
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="# Chat">#</a></li>
									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
        		<script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		</footer>
