<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		{% include meta.html %}
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Roboto+Mono:300,400|Roboto:300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" />
	</head>
	<body>
		<style>
		.ratio-bar {
		    padding-top: 60px!important;
		    background-color: #5a686c;
		    color: #f0f0f0;
		}
		</style>
		<header>
		    <nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			    <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand hidden-md" href="/">
				    Networking 101
				</a>
			    </div>
                    		<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav ">
						<li><a class="tab" href="#">Posts</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							    <li role="separator" class="divider"></li>
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							    <li class="">
								<a href="#" title="#">#</a>
							    </li>
							</ul>
						</li>
					</ul>
           			</div>
			</nav>
			<div class="ratio-bar">
				<div class="container">
				    <ul class="list-inline">
					<li>
					    <i class="fa fa-user"></i>
					    <a href="#" title="View my profile">
						<span class="badge-user group-newbie">
						Lunar
						</span>
					    </a>
					</li>
					<li>
					    <i class="fa fa-group"></i>
					    <span class="badge-user group-newbie">
					    User
					    </span>
					</li>
					<li><i class="fa fa-upload text-success"></i>
					    <a href="#" title="My Uploads">#</a>
					    925
					</li>
					<li><i class="fa fa-comments text-orange"></i>
					    <a href="#" title="#">#</a>
					    <!-- 0 -->
					</li>
					<li><i class="fa fa-eye"></i>
					    <a href="#" title="#">#</a>
					    <span style="color: #00bc63">#</span>
					</li>
				    </ul>
				</div>
			    </div>
		</header>
		<section class="container content" id="content-area">
			<h1 class="title">
				{% if page.title %}{{ page.title }} – {% endif %}
			</h1>
			<div class="block">
				{{ content }}
			</div>
		</section>
		<footer>
			<div class="footer text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
		 					<div class="footer-content">
								<h3>Network</h3>
								<ul class="text-center list-inline">
									<li><a href="#" title="#" target="_blank">#</a></li>
									<li><a href="#" title="#" target="_blank">#</a></li>
									<li><a href="#" title="#" target="_blank">#</a></li>
									<li><a href="#" title="#" target="_blank">#</a></li>
									<li><a href="#" title="#" target="_blank"><span class="text-pink">#</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<div class="footer-content">
								<h3>#</h3>
									<p>We recommend <a href="#" title="#" target="_blank">##</a> ##.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="footer-content">
								<h3>Chat</h3>
								<p>
									<a href="#" title="#"><i class="fa fa-comments-o"></i> ##</a> &middot;
									<a href="##" title=" on Discord" target="_blank"><i class="fa fa-discord"></i> ###</a><br>
									<strong>#:</strong> <span class="text-green">#</span> <span class="text-blue">####</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="subfooter text-center">
				<div class="container">
					<div class="subfooter-inner">
						<div class="row">
							<div class="col-md-12">
								<span class="">Copyright &copy; 2020 &middot; #</span>
									<ul class="list-inline">
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="#">#</a></li>
										<li><a href="#" title="# Chat">#</a></li>
									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
        		<script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		</footer>
	</body>
</html>
